.cart {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fafafa;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  padding: 3rem;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  display: none;
}

.close-btn{
    position: absolute;
    top: -2%;
    right: -1%;
    background: #ff0000;
    padding: 0.7rem 0.8rem;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

.cart.active{
  display: flex;
}